#container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border: 0px solid;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    background-color: rgb(184, 184, 184);
    box-shadow: 0 0 10px;
}
#temperature{
    width: 100px;
    height: 50px;
    border-radius: 5px;
}
.radiobutton{
    margin-bottom: 10px;
    color: rgb(255, 0, 0);
}
button{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 5px;
    font-family: monospace, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(95, 158, 95);
}
input{
    font-size: 40px;
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: 700;
    color: red;
    background-color: rgb(255, 255, 255);
}
body{
    font-family: monospace, sans-serif;
    font-weight: 700;
}
#rslt{
    color: rgb(255, 67, 67);
    font-size: 20px;
}