body{
    font-size: 50px;
    color: green;
    font-family: monospace, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(Untitled.png);
}
#title{
    background-image: linear-gradient(rgb(0, 255, 0), green);
    color: transparent;
    background-clip: text;
    font-weight: bold;
    font-size: 75px;
}
#links{
    /*
        display: grid;
        grid-template-columns: auto;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#links .new{
    color: white;
    border-color: rgb(173, 173, 173);
    background-color: rgb(0, 194, 0);
}
#links .new:hover{
    background-color: rgb(0, 128, 0);
}
#links .new:active{
    background-color: rgb(0, 75, 0);
}
button{
    max-width: fit-content;
    text-align: center;
    font-size: 50px;
    font-family: monospace, sans-serif;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    font-weight: bold;
}
button:hover{
    background-color: rgb(32, 32, 32);
}
button:active{
    background-color: rgb(63, 63, 63);
}
a:visited{
    color: white;
}
