body{
    font-size: 50px;
    color: rgb(0, 238, 255);
    font-family:monospace, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(image.png);
}
button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-family: monospace, sans-serif;
    font-size: 20px;    
    border-style: double;
    border-color: rgb(0, 0, 0);
}
button:hover{
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease;
}
#startBtn{
    background-color:rgb(2, 184, 2);
    color: greenyellow;
}
#startBtn:hover{
    background-color:rgb(0, 146, 0);
}
#startBtn:active{
    background-color:rgb(0, 83, 0);
}
#stopBtn{
    background-color:rgb(255, 208, 0);
    color: rgb(251, 255, 0);
}
#stopBtn:hover{
    background-color:rgb(190, 156, 0);
}
#stopBtn:active{
    background-color:rgb(117, 96, 0);
}
#resetBtn{
    background-color:rgb(184, 2, 2);
    color: rgb(255, 0, 0);
}
#resetBtn:hover{
    background-color:rgb(92, 0, 0);
}
#resetBtn:active{
    background-color:rgb(54, 0, 0);
}
#container{
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;
    border-width: 2.5px;
    backdrop-filter: blur(5px);
    padding: 15px;
}