body{
    background-color: lightgray;
}
#tempDiv{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    max-width: 300px;
    height: 290px;
    box-shadow: 5px 5px 2.5px rgb(141, 132, 132);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 0px;
    text-align: center;
    background-color: white;
}
#tempInput{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 50px;
    margin-bottom: 15px;
}
#submit{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(142, 255, 120);
    margin-top: 15px;
}
#submit:hover{
    background-color: rgb(33, 116, 17);
    color: white;
}
#submit:active{
    background-color: rgb(20, 68, 10);
    color: white;
}
#header{
    color: blue;
}
p{
    color:rgb(19, 107, 1);
    font-size: 20px;
    font-weight: bold;
}